/api/target
/backend/scanner/target
/backend/verifier/target

/kybes-client/.idea/
/kybes-client/*.iml
/kybes-client/*.ipr
/kybes-client/*.iws
/kybes-client/out/
/kybes-client/.idea_modules/
/kybes-client/*.class
/kybes-client/*.stackdump
/kybes-client/.gradle
/kybes-client/build/
/kybes-client/gradle-app.setting
/kybes-client/.gradletasknamecache
/kybes-client/**/build/
/kybes-client/run/
/kybes-client/runs/
/kybes-client/!gradle-wrapper.jar
